<main class="ui page grid">
    <div class="row">
        <div class="center aligned starter column">
            <h1 class="ui header">BioC-Editor</h1>
            <p>BioCreative V - Track 1- Collaborative Biocurator Assistant Task (BioC)</p>
            <p>Subtask 8. Visual tool for displaying various annotations</p>
        </div>
    </div>
</main>
