<main class="ui page grid">
    <div class="row">
        <div class="center aligned starter column">
            <h1 class="ui header">BioC-Viewer</h1>
            <p>
            a web-based tool for displaying and merging annotations in <a href="http://bioc.sourceforge.net/">BioC</a>
              
        </div>
    </div>
</main>
