<div class="ui small basic modal delete-confirm" >
  <i class="close icon"></i>
  <div class="header">
    Are you sure for delete?
  </div>
  <div class="actions">
      <div class="ui red deny inverted button" data-value='ppi'>
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green approve inverted button" data-value='gi'>
        <i class="checkmark icon"></i>
        Yes
      </div>
  </div>
</div>