<div class="ui modal merge-dialog">
  <i class="close icon"></i>
  <div class="header">
    <div class="header">Merge files</div>
  </div>
  <div class="content">
    
    <div id="mergeProgress" class="ui progress">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div class="label">Uploading Files</div>
    </div>
  </div>
  <div class="actions">
    <button class='ui button teal disabled'>Start</button>
    <div class="ui cancel button">
      Close
    </div>
  </div>
  </form>
</div>
<script>
$('#mergeProgress')
  .progress({
    text: {
      active  : 'Merging {value} of {total} files',
      success : '{total} files merged!'
    }
  })
;
</script>