  <form class="ui segment inverted form black ppi-form" action="/documents/<%=@document.id%>/ppis">
    PPI/GI Annotator
      <span class="ui label circular olive ppi-cnt tiny"></span>
    <div class="ui divider"></div>
    <div class="two fields">
      <div class="field empty">
        <input placeholder="GeneID 1" type="text" id="gene1" class="gene-field gene1" name="ppi[gene1]">
        <i class="close icon"></i>
      </div>
      <div class="field empty">
        <input placeholder="GeneID 2" type="text" id="gene2" class="gene-field gene2" name="ppi[gene2]">
        <i class="close icon"></i>
      </div>
    </div>
    <button class="ui submit teal small button left" type="button">
      Create PPI
        (<% if browser.mac? %>
          &#8984; + S
        <% else %>
          &#8983; + S
        <% end %>)
    </button>

    <div class="ui error message"></div>
  </form>
  <div class="ui dimmer">
    <div class="ui text loader">Updating ...</div>
  </div>
