  <form class="ui segment inverted small form grey ppi-form" action="/documents/<%=@document.id%>/ppis">
    PPI/GI Annotator
    <input name="ppi[itype]" type="hidden" value="PPI">
    <input name="ppi[exp]" type="hidden" value="">

    <div class="ui divider"></div>
    <div class="two fields">
      <div class="field">
        <div class="close-field empty">
          <input placeholder="GeneID 1" type="text" id="gene1" class="gene-field gene1" name="ppi[gene1]">
          <i class="close icon"></i>
        </div>
        <div class="close-field empty">
          <input placeholder="Name 1" type="text" id="name1" class="gene-field name1" name="ppi[name1]">
          <i class="close icon"></i>
        </div>
      </div>
      <div class="field">
        <div class="close-field empty">
          <input placeholder="GeneID 2" type="text" id="gene2" class="gene-field gene2" name="ppi[gene2]">
          <i class="close icon"></i>
        </div>
        <div class="close-field empty">
          <input placeholder="Name 2" type="text" id="name2" class="gene-field name2" name="ppi[name2]">
          <i class="close icon"></i>
        </div>
      </div>
    </div>
    <button class="ui submit teal small button left" type="button">
      Create Interaction
        (<% if browser.mac? %>
          &#8984; + S
        <% else %>
          CTRL + S
        <% end %>)
    </button>
    <div class="ui error message"></div>
  </form>
  <div class="ui dimmer">
    <div class="ui text loader">Updating ...</div>
  </div>