<div class="ui small basic modal ppi-type" >
  <i class="close icon"></i>
  <div class="header">
    Please choose an interaction type.
  </div>
  <div class="actions">
      <div class="ui blue approve inverted button" data-value='ppi'>
        <i class="checkmark icon"></i>
        PPI
      </div>
      <div class="ui green approve inverted button" data-value='gi'>
        <i class="checkmark icon"></i>
        GI
      </div>
  </div>
</div>