<h1 class='ui dividing header'>
  <div class='content'>Editing Document Information</div>
</h1>

<%= render 'form' %>
<div class='ui divider'></div>
<%= link_to 'Show', @document %> |
<%= link_to 'Back', @project %>
