<div class="ui modal merge-dialog">
  <i class="close icon"></i>
  <div class="header">
    <div class="header">Merge files</div>
  </div>
  <div class="content">
    <div class='info'>
    </div>
    <div id="mergeProgress" class="ui progress blue">
      <div class="bar">
        <div class="progress"></div>
      </div>
      <div class="label">Ready to upload</div>
    </div>
    <div id="mergeError" style="display:none" class="ui icon message error">
      <i class="icon warning sign"></i>
      <div class="content">
        <div class="header">
          Sorry. Please try again later.
        </div>
        <p class='message'>

        </p>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class='ui button blue btn-start-merge'>Start</button>
    <div class="ui cancel button btn-close-merge">
      Close
    </div>
  </div>
  </form>
</div>
<script>
var mergeIdx = 0;
var mergeDocs = [];
var mergeUrl = "";
function postMerge(data) {
  $('#mergeProgress').progress('increment');
  mergeIdx++;
  var doc = mergeDocs[mergeIdx];
  if (doc !== undefined) {
    $.ajax({
      method: 'POST',
      url: mergeUrl, 
      data: {with: doc}, 
      success: function(data) {
        $("#mergeError").hide();
        postMerge(data);
      }, 
      error: function(xhr, status, error) {
        $("#mergeError p").html((xhr.status || status) + " : " + error);
        $("#mergeError").show();
      }
    });
  } else {
    $('.btn-close-merge').text('Done').removeClass('disabled').addClass('blue');
    $('.btn-start-merge').hide();
  }
}

$('.btn-start-merge').click(function() {
  mergeDocs = $('.merge-dialog .doc-for-merge').data("doc").split(",");
  mergeIdx = 0;
  mergeUrl = "/documents/" + mergeDocs[0] + "/merge.json";
  $('.btn-start-merge').addClass('disabled');
  $('.btn-close-merge').addClass('disabled');

  $('.merge-dialog').modal({
    onHidden: function() {
      $('#reloadSpinner').addClass('active');
      location.reload();
    }
  });
  postMerge();
});
</script>