# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f3aa83d53dc4e45b9630a4372a7a8f4704065b01cf5a1aaa3fafe12917905d4a2bee5e5ad4e34303c8066574995c24da6f0635f63607a59f9eb3417224342755

test:
  secret_key_base: 46ca35f0afc2eef8645862b78aea5e80b4edff868450dfa182a923daa66b82a1a98c71aaa5e98af9b851df3694e6e43a4d714dcec2723eb9b5472e975b980613

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: e9eafeb18942ad1129e85c80505ecc4018b032a37a28456ecba2fe6c522147962ae4e97c0aee58bfad2d8f8aeffbbb3e4bbe071e0656de1bd26d0bd2484fa5d7
