/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "home";
@import "documents";

body {
  background-color: #eee!important;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

#main-nav {
  .dropdown .menu a {
    color: #000;
  }
}

#main-footer {
  .container {
    background-color: #1b1c1d!important;
    padding: 2em 1em 5em 1em;
    font-size: 0.9em;
    font-weight: lighter;
    color: #aaa;

  }

}

#hiddenFileInput {
  display: none;
}

#documentSpinner {
  position: fixed;
}

.main.container {
  padding: 1em;
  background-color: #fff;
  margin-top: 40px;
}
.documents-show .main.container {
  margin-top: 80px;
  width: 100%;
  background: #eee;
}

.annotation-toggles {
  .ui.button {
    i.icon {
      display: inline;
    }
    &.inactive {
      background-color: #cacbcd;
      color: #fff;
      i.icon {
        // display: none;
      }
    }
  }
}

.fixed-buttons {
  position: fixed;
  top: 45px;
  left: 0;
  padding: 0.5em;
  background: #666;
  width: 100%;
  z-index:1000;
  color: #fff;
}