// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.document {
  width: 100%;
  height: 2000px;
  .pane {
    height: 100%;
    overflow-y: auto;
    float: left;
    position: fixed;
    left: 0;
    top: 92px;
    padding: 1em;
    padding-bottom: 200px;
    box-sizing: border-box;
  }
  .left-side {
    // position: fixed;
    // top:0;
    // left: 0;
    width: 250px;
    white-space: nowrap;
    overflow-x: hidden;

    ul {
      padding-left: 2em;
    }
    & > ul {
      padding-left: 0;
      overflow:hidden;
    }
    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .main {
    left: 250px;
    width: 600px;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .right-side {
    padding: 0;
    left: 850px;
    width: 300px;
    background-color: #ddd;

    .ppis {
      margin-top: 162px;
      padding: 1em;
    }

    .ppi-list {
      .delete-button {
        margin-left: 2em;
        color: #DC1644;
      }
    }
  }
}

.ui.segment.ppi-form {
  border-radius:0;
  position: fixed;
  top: 92px;
  right: 9px;
  width: 300px;
  z-index: 1000;

  .field {
    position: relative;

    .close.icon {
      color: #DC1644;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    &.empty {
      .close.icon {
        color: #DDD;
        cursor: default;
      }
    }
    &:last-child {
      .close.icon {
        right: 3px;
      }
    }
  }
}
.ui.basic.segment.passage {
  padding: 2em 0 1em;
  .ui.label.mini.passage-sub-info {
    color: #aaa;
    background: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 2px 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.passage div.text {
  line-height: 200%;
}
.passage .title_1,
.passage .title
 {
  font-size: 1.4em;
  font-weight: bold;
}

h1.front {
  font-size: 1.5em;
}
.passage .title_2,
 {
  font-size: 1.2em;
  font-weight: bold;
}

.passage,
.document-info
{
  .infons,
  .annotations
  {
    opacity: 0.3;
    .body{
      display: none;
    }
  }

  &:hover {
    .infons,
    .annotations
    {
      opacity: 1.0;
      z-index: 1000;
      .segment {
        box-shadow: rgba(0, 0, 0, 0.3980392) 2px 2px 10px 0px;
        font-size: 0.9em;
      }
      .ribbon {
        background-color: #00b5ad !important;
        color: #fff!important;
        &.label {
          border-color: #00827c!important;
        }
      }
      .body{
        display: block;
      }
    }
  }
}

.document {
  span.annotation {
    &.G {
      background-color: #FFF64C;
    }

    &.E {
      border-bottom: 2px solid #900;
    }
    &.EP {
      border-bottom: 2px solid #00f;
    }
    &.EM {
      border-bottom: 2px solid #f00;
    }
    &.EG {
      border-bottom: 2px solid #0a0;
    }
  
    &.EP.EG {
      border-bottom: 2px solid #0aa;
    }
    &.EP.EM {
      border-bottom: 2px solid #a0a;
    }

    &.O {
      background-color: #95EEFF;
    }

    &.O.G {
      background-color: #95FF9A;
    }
  }


}

body {
  &.G-disabled {
    span.annotation {
      &.G {
        background-color: transparent;
      }

      &.O.G {
        background-color: #95EEFF;
      }
    }
    .popup-item.G {
      display: none
    }

  }
  &.O-disabled {
    span.annotation {
      &.O {
        background-color: transparent;
      }

      &.O.G {
        background-color: #FFF64C;
      }
    }
    .popup-item.O {
      display: none
    }
  }
  &.G-disabled.O-disabled {
    span.annotation {
      &.O.G {
        background-color: transparent;
      }
    }
  }
  &.E-disabled {
    span.annotation {
      &.EP, &.EM, &.EG, &.E,
      &.EP.EM, &.EP.EG, &.EM.EG
      {
        border-bottom: 0;
      }
    }
    .popup-item.EP,
    .popup-item.EM,
    .popup-item.EG,
    .popup-item.E
    {
      display: none
    }

  }
}
.annotation-item {
  .locations {
    display: none;
  }

  &:hover .locations {
    display: block;
  }
}
.popup-item {
  font-size: 0.8em;
  line-height: 110%;
  strong {
    font-weight: bold;
    padding: 2px 3px;
    display: inline-block;
  }
  margin: 2px 0
}

.ui.form div.field.changed {
  animation: flash-scale .5s 1;
  -webkit-animation: flash-scale .5s 1;
}

.ui.form div.field.changed .gene-field {
  animation: flash-bg .5s 1;
  -webkit-animation: flash-bg .5s 1;
}


@keyframes flash-scale {
  from { transform: none; }
  50% { transform: scale(1.2); }
  to { transform: none; }
}
@-webkit-keyframes flash-scale {
  from { transform: none; }
  50% { transform: scale(1.2); }
  to { transform: none; }
}

@keyframes flash-bg {
  from { background-color: #fff;}
  50% { background-color: #dd0; }
  to { background-color: #fff;}
}
@-webkit-keyframes flash-bg {
  from { background-color: #fff;}
  50% { background-color: #dd0; }
  to { background-color: #fff;}
}